Repository Caetano82/BasicoDotNet: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-backend.yml: any of: 1-Presentation/Bernhoeft.GRT.Teste.Api, 2-Application, 3-Domain, 4-Infra, azure-pipelines-backend.yml
  azure-pipelines-frontend.yml: any of: ReactApp, azure-pipelines-frontend.yml
  azure-pipelines.yml: any of: ReactApp, 1-Presentation/Bernhoeft.GRT.Teste.Api, 2-Application, 3-Domain, 4-Infra, azure-pipelines.yml

docs: Clarifica diferenÃ§a entre dockerRegistryServiceConnection e containerRegistry
  AZURE_PIPELINE_SETUP.md
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: Atualiza nome do Service Connection para 'conectaazure'
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: Altera pipelines para usar Service Connection AzureRM
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: Remove restauraÃ§Ã£o de soluÃ§Ã£o completa do Dockerfile do backend
  1-Presentation/Bernhoeft.GRT.Teste.Api/Dockerfile
Due: azure-pipelines-backend.yml, azure-pipelines.yml

fix: Corrige restore e build no Dockerfile do backend
  1-Presentation/Bernhoeft.GRT.Teste.Api/Dockerfile
Due: azure-pipelines-backend.yml, azure-pipelines.yml

feat: Atualiza frontend para conectar com API em produÃ§Ã£o
  ReactApp/src/services/signalRService.ts
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml, azure-pipelines.yml

docs: Adiciona resumo executivo do projeto para apresentaÃ§Ã£o por email
  RESUMO_PROJETO.md
Due: none
